@import '~antd/dist/antd.css';

#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  .logo-block {
    float: left;
    position:relative;
    width:300px;
    height:100px;
    overflow:hidden;
    margin: auto;
    left: 490px;
    padding: 10px;
}

.logo-block img {
    width:100%;
    background-color: black;
}
.about-us {
   font-family: cursive;
   text-align: center;
}
.personal-infor {
  font-family: cursive;
  margin-left:340px;
  margin-top:100px;
  display:block;
  float: left;
}

.name-id {
  font-weight: 300;
}
.group-member-photo {
  position:relative;
  width:200px;
  height:200px;
  margin-top:100px;
  margin-right: 340px;
  margin-bottom:150px;
  float: right;
  
}
.Group-photo {
  width:100%;
  border-radius:80%;
}
