.footer-into-center {
    /* margin-top: 10px;  */
    background: linear-gradient(90deg, rgb(0, 21, 42) 0%, rgb(0, 21, 42) 100%);
    /* bottom : 20px; */
    width: 100%;
    height: 100px;
    font-size:12px;
    text-align: center;
    align-items: center;
    color: white;
  }
.footer_logo {
  float:left;
  margin-left: 550px;
}
.Logo {
  margin-top:40px;
  height: 50px;
  width: 100%;
}
.footer_infors_block {
  /* float:right; */
  /* margin-right: 550px; */
  text-align: center;
}